/*  General */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comic Neue', cursive;
    /* background-image: linear-gradient(180deg, #496B7D, #2787BA); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* overflow-x: hidden; */
}

#canvas {
    height: 80%;
    width: 80%;
    border: 6px solid #909497 ;
}

.controls {
    border: 6px solid #909497;
    display: flex;
    width: 80%;
    padding: 20px;
}

.controls > * {
    background-color: #909497;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 60px;
    width: 60px;
    margin: 5px;
    cursor: pointer;
}

.controls > *:last-child {
    margin-left: auto;
}